version: '3'

services:
  chromadb:
    image: chromadb/chroma
    ports:
      - "8001:8000"
    environment:
      - ALLOW_RESET=true
      - OPENBLAS_NUM_THREADS=1
      - OMP_NUM_THREADS=1
    volumes:
      - chroma_data:/chroma
    security_opt:
      - seccomp:unconfined
    logging:
      options:
        max-size: "10m"

# uncomment ollama service for local instance
#  ollama:
#    image: ollama/ollama:latest
#    ports:
#      - "11434:11434"
#    volumes:
#      - ollama_data:/root/.ollama
#    runtime: nvidia
#    logging:
#      options:
#        max-size: "10m"

  backend:
    build: ./backend
    ports:
      - "1316:8000"
    depends_on:
#      - ollama
      - postgres
      - redis
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./frontend/src:/html
    environment:
      - NODE_ENV=development
      - OLLAMA_URL=http://ollama:11434
      - MODEL_EMB=mxbai-embed-large
      - MODEL_LLM=llama3
      - CHROMA_URL=http://chromadb:8000
      - DATABASE_URL=postgres://postgres:postgres_password@postgres:5432/db1
      - JWT_SECRET=change_this_to_random_secure_secret
    logging:
      options:
        max-size: "10m"

  frontend:
    build: ./frontend
    ports:
      - "3000:443"
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/etc/nginx/html:ro
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/certs:/etc/nginx/certs:ro
      - ./frontend/logs:/var/log/nginx 
  
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres_password
      POSTGRES_DB: db1
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql
  
  redis:
    image: redis:7

volumes:
#  ollama_data:
  chroma_data:
  postgres_data:
