<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="css/main.css">
  <script src="js/main.js"></script>
</head>
<body>
  <header>
    <h1>Dashboard</h1>
    <nav>
      <button data-target="query">Home</button>
      <button data-target="history">History</button>
      <button data-target="files">Documents</button>
      <button data-target="profile">Profile</button>
    </nav>
  </header>
  <main data-activesection="query">

    <section id="query" class="page-section block-visible">
      <h2>New Query</h2>
      <%- include('../partials/query_form.ejs')%>
    </section>
    
    <section id="history" class="page-section block-hidden">
      <h2>Past Queries</h2>
    </section>
    
    <section id="files" class="page-section block-hidden">
      <h2>Documents</h2>
      <section>
        <h3>Public</h3>
      </section>
      <section>
        <h3>Private</h3>
      </section>
      <section>
        <h3>Upload Document</h3>
        <%- include('../partials/upload_form.ejs')%>
      </section>
    </section>
    
    <section id="profile" class="page-section block-hidden">
      <h2>Profile</h2>
    </section>
  
  </main>
  <footer>

  </footer>
</body>
</html>