.table-action-button {
  padding: 0.1rem; 
  background: hsl(229, 76%, 66%); 
  color: white; 
  border: none; 
  border-radius: 8px; 
  font-size: 0.5rem; 
  font-weight: 500; 
  cursor: pointer;
  width: 40%;
}
